html,
body {
  margin: 0;
  padding: 0;
  background-color: crimson;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title {
  text-align: center;
  color: white;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.target,
.spin {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #000;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 5px;
}

#result {
  color: green;
  text-align: center;
  padding: 10px;
}

.colorize {
  background-color: honeydew;
}

.buttonBlock {
  display: flex;
  margin: 10px;
  align-content: center;
  justify-content: center;
}

button {
  margin: 5px;
  height: 32px;
  width: 17%;
  border: 2px solid #000;
  border-radius: 50px;
  text-align: center;
  background-color: rgba(16, 253, 107, 0.767);
  color: white;
  outline: none;
  transition: all 0.5s;
}

button:hover {
  background-color: yellow;
  color: black;
}
