body {
  background-color: #aeb8fe;
  display: flex;
}

.dice {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: #efe5dc;
  margin: 100px;
  position: absolute;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  display: block;
  margin: 5px;
}

.dice1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice2 {
  display: flex;
  justify-content: space-between;
}

.dice2 .dot2:nth-child(2) {
  align-self: flex-end;
}

.dice3 {
  display: flex;
  justify-content: space-between;
}

.dice3 .dot3:nth-child(3) {
  align-self: flex-end;
}

.dice3 .dot3:nth-child(2) {
  align-self: center;
}

.dice4 {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice6 {
  display: flex;
  justify-content: space-between;
}

.dice5 {
  display: flex;
}

.dice5 .column:nth-child(2) {
  align-self: center;
}
